apiVersion: v1
kind: Service
metadata:
  name: cartservice
  namespace: online-boutique
  labels:
    app.kubernetes.io/name: cartservice
    app.kubernetes.io/part-of: online-boutique
    lab.openai.com/cluster: c1
spec:
  type: ExternalName
  externalName: "__C2_CART_NLB_HOSTNAME__"
  ports:
  - name: grpc-cart
    protocol: TCP
    port: 7070
    targetPort: 7070
